future_contents
node_modules/
__pycache__
**/migrations
*.DS_Store
**/__pycache__
**/.DS_Store
*.log
*.pot
*.pyc
db.sqlite3
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
.env
.privenv
mydata.json
static/media/images/images/
cloud_sql_proxy