:root {
    --dark: #19242c;
    --hover-dark: #333333;
    --light: rgb(192, 188, 188);
    --hover-light: rgb(71, 91, 104);
    --wrong-input: rgb(142, 18, 18);
    --help-text: rgb(141, 137, 137);
    
    --collapsible-closed: rgba(0,0,0,0);

    --strip1: #2C3E4C;
    --strip2: #016064;
    --strip3: #48AAAD;
    --strip4: #52b2C0;
    --strip5: #62C5DA;

    --top-bottom-container: var(--dark);
    --middle-container: var(--light);

    --copyright: var(--light);

	--main-bg: #dae3e5;
	--text-bg: #bbd1ea;
	--shadow: #a1c6ea;
	--text-sec: #507dbc;
	--text-main: #16263b;

    body {
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    line-height: 1.5;
    }
    
    .fa {
    font-size: 30px;
    color: white;
    }
    
    h1 {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--light);
    }

    h1#dark {
        font-family: bradley hand, cursive;
        font-size: 65px;
        font-weight: 300;
        color: var(--dark);
        }
    
    h2 {
    font-size: 30px;
    margin: 0 0 16px;
    color: white;
    font-weight: 300;
    }
    
    h3 {
    font-size: 30px;
    margin: 0 0 16px;
    color: rgb(5, 4, 22);
    }
    
    h4#light {
        font-size: 22px;
        margin: 0 0 16px;
        color: var(--light);
        }

    h4 {
    font-size: 22px;
    margin: 0 0 16px;
    color: rgb(5, 4, 22);
    }
    
    h5 {
    font-size: 17px;
    margin: 0 0 16px;
    color: white;
    }
    
    h6 {
    font-size: 8px;
    margin: 0 0 16px;
    color: white;
    }
    
    p {
    font-size: 22px;
    margin: 0 0 16px;
    color: black
    }
    
    $a-tags: 'a, a:active, a:hover, a:visited';
    $a-tags-hover: 'a:active, a:hover';
    
    #{$a-tags} {
    color: rgb(117, 159, 207);
    text-decoration: none;
    }
    #{$a-tags-hover} {
    color: rgb(248, 248, 252);
    }
}

.dark {
    --strip1: #2C3E4C;
    --strip2: #016064;
    --strip3: #48AAAD;
    --strip4: #52b2C0;
    --strip5: #62C5DA;

	--main-bg: #16263b;
	--text-bg: #507dbc;
	--shadow: #a1c6ea;
	--text-sec: #bbd1ea;
	--text-main: #dae3e5;
}

//$color1: #186938;
//$color2: #60BFBF;
//$color3: #8C4B7E;
//$color4: #F8BB44;
//$color5: #F24B4B;