@import "colors.scss";
@import "mixin.scss";
@import "pageblocks.scss";
@import "topdiv.scss";
@import "middiv.scss";
@import "contact.scss";

html, body { height: 100% }

p#copyright {
	position: absolute;
	width: 100%;
	color: var(--light);
	font-size: 15px;
	text-align: center;
}

p#copyright-inner {
	position: absolute;
	width: 100%;
	color: var(--dark);
	font-size: 15px;
	text-align: center;
}

/* Demo purposes */

div[class="col-md-4"]{
  width: 50%;
}

div[class="lefty"] {
  float: left;
  padding: 5px;
}

div[class="centery"] {
  text-align: center;
}

i[class="fa fa-clock-o fa-5"] {
  display: inline-block;
  color: var(--dark);
  font-size: 10rem;
  text-align: center;
}

i[class^="devicon"] {
  display: inline-block;
  color: var(--light);
  font-size: 2rem;
  margin: 0vh 3vh 2vh auto;
  text-align: center;
  @include break {
    font-size: 0.7rem;
  }
}

i[class^="devicon"]:hover {
  color: var(--hover-dark);
  font-size: 2rem;
  @include break {
    font-size: 0.7rem;
  }
}

i[class^="devicon"] span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: Raleway, sans-serif;
  @include break {
    font-size: 0.4rem;
  }
}

@media (max-width: 500px) {
  i[class^="devicon"] {
      font-size: 4.5rem;
  }

  i[class^="devicon"] > span {
      font-size: 0.7rem;
  }

  i[class^="devicon"]:hover {
      color: var(--hover-dark);
      font-size: 3.5rem;
  }

  /*div[class="lefty"] {
    width: 10%;
  }*/
}

/* Style the button that is used to open and close the collapsible content */
button[class^="collapsible"]  {
  background-color: var(--collapsible-closed);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 22px;
  color: var(--light);

  @include break {
    padding: 12px;
    font-size: 12px;
  }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, button[class^="collapsible"]:hover {
  background-color: var(--hover-light);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--hover-light);
}

img {
  height:250;
}