:root {
  --dark: #19242c;
  --hover-dark: #333333;
  --light: rgb(192, 188, 188);
  --hover-light: rgb(71, 91, 104);
  --wrong-input: rgb(142, 18, 18);
  --help-text: rgb(141, 137, 137);
  --collapsible-closed: rgba(0,0,0,0);
  --strip1: #2C3E4C;
  --strip2: #016064;
  --strip3: #48AAAD;
  --strip4: #52b2C0;
  --strip5: #62C5DA;
  --top-bottom-container: var(--dark);
  --middle-container: var(--light);
  --copyright: var(--light);
  --main-bg: #dae3e5;
  --text-bg: #bbd1ea;
  --shadow: #a1c6ea;
  --text-sec: #507dbc;
  --text-main: #16263b; }
  :root body {
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    line-height: 1.5; }
  :root .fa {
    font-size: 30px;
    color: white; }
  :root h1 {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--light); }
  :root h1#dark {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--dark); }
  :root h2 {
    font-size: 30px;
    margin: 0 0 16px;
    color: white;
    font-weight: 300; }
  :root h3 {
    font-size: 30px;
    margin: 0 0 16px;
    color: #050416; }
  :root h4#light {
    font-size: 22px;
    margin: 0 0 16px;
    color: var(--light); }
  :root h4 {
    font-size: 22px;
    margin: 0 0 16px;
    color: #050416; }
  :root h5 {
    font-size: 17px;
    margin: 0 0 16px;
    color: white; }
  :root h6 {
    font-size: 8px;
    margin: 0 0 16px;
    color: white; }
  :root p {
    font-size: 22px;
    margin: 0 0 16px;
    color: black; }
  :root a, :root a:active, :root a:hover, :root a:visited {
    color: #759fcf;
    text-decoration: none; }
  :root a:active, :root a:hover {
    color: #f8f8fc; }

.dark {
  --strip1: #2C3E4C;
  --strip2: #016064;
  --strip3: #48AAAD;
  --strip4: #52b2C0;
  --strip5: #62C5DA;
  --main-bg: #16263b;
  --text-bg: #507dbc;
  --shadow: #a1c6ea;
  --text-sec: #bbd1ea;
  --text-main: #dae3e5; }

:root {
  --dark: #19242c;
  --hover-dark: #333333;
  --light: rgb(192, 188, 188);
  --hover-light: rgb(71, 91, 104);
  --wrong-input: rgb(142, 18, 18);
  --help-text: rgb(141, 137, 137);
  --collapsible-closed: rgba(0,0,0,0);
  --strip1: #2C3E4C;
  --strip2: #016064;
  --strip3: #48AAAD;
  --strip4: #52b2C0;
  --strip5: #62C5DA;
  --top-bottom-container: var(--dark);
  --middle-container: var(--light);
  --copyright: var(--light);
  --main-bg: #dae3e5;
  --text-bg: #bbd1ea;
  --shadow: #a1c6ea;
  --text-sec: #507dbc;
  --text-main: #16263b; }
  :root body {
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    line-height: 1.5; }
  :root .fa {
    font-size: 30px;
    color: white; }
  :root h1 {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--light); }
  :root h1#dark {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--dark); }
  :root h2 {
    font-size: 30px;
    margin: 0 0 16px;
    color: white;
    font-weight: 300; }
  :root h3 {
    font-size: 30px;
    margin: 0 0 16px;
    color: #050416; }
  :root h4#light {
    font-size: 22px;
    margin: 0 0 16px;
    color: var(--light); }
  :root h4 {
    font-size: 22px;
    margin: 0 0 16px;
    color: #050416; }
  :root h5 {
    font-size: 17px;
    margin: 0 0 16px;
    color: white; }
  :root h6 {
    font-size: 8px;
    margin: 0 0 16px;
    color: white; }
  :root p {
    font-size: 22px;
    margin: 0 0 16px;
    color: black; }
  :root a, :root a:active, :root a:hover, :root a:visited {
    color: #759fcf;
    text-decoration: none; }
  :root a:active, :root a:hover {
    color: #f8f8fc; }

.dark {
  --strip1: #2C3E4C;
  --strip2: #016064;
  --strip3: #48AAAD;
  --strip4: #52b2C0;
  --strip5: #62C5DA;
  --main-bg: #16263b;
  --text-bg: #507dbc;
  --shadow: #a1c6ea;
  --text-sec: #bbd1ea;
  --text-main: #dae3e5; }

#container {
  height: 100%;
  width: 101.5%; }

#top_div {
  min-height: 48vh;
  height: 50%;
  width: 100%;
  background-color: var(--top-bottom-container);
  margin: auto;
  text-align: center; }
  #top_div__mid {
    will-change: width, right, z-index, height;
    position: absolute;
    top: 18vh;
    min-height: 47.5vh;
    width: 72%; }
    @media screen and (max-width: 640px) {
      #top_div__mid {
        min-height: 15vh;
        top: 13vh;
        left: 0;
        width: 95%;
        margin: 0%; }
        #top_div__mid h1 {
          font-size: 22px; }
        #top_div__mid h2 {
          font-size: 15px; }
        #top_div__mid h4 {
          font-size: 15px; }
        #top_div__mid p {
          font-size: 10px; } }
#middle_div {
  height: 48%;
  width: 100%;
  background-color: var(--middle-container);
  margin: auto;
  text-align: center; }

#bottom_div {
  position: bottom;
  height: 2%;
  width: 100%;
  background-color: var(--top-bottom-container);
  margin: auto;
  text-align: center; }

/*
#header-right {
    height: 52%;
    width: 26%;
    margin-right: 0px;
    margin-bottom: 20px;
}
*/
* {
  box-sizing: border-box; }

:root {
  --dark: #19242c;
  --hover-dark: #333333;
  --light: rgb(192, 188, 188);
  --hover-light: rgb(71, 91, 104);
  --wrong-input: rgb(142, 18, 18);
  --help-text: rgb(141, 137, 137);
  --collapsible-closed: rgba(0,0,0,0);
  --strip1: #2C3E4C;
  --strip2: #016064;
  --strip3: #48AAAD;
  --strip4: #52b2C0;
  --strip5: #62C5DA;
  --top-bottom-container: var(--dark);
  --middle-container: var(--light);
  --copyright: var(--light);
  --main-bg: #dae3e5;
  --text-bg: #bbd1ea;
  --shadow: #a1c6ea;
  --text-sec: #507dbc;
  --text-main: #16263b; }
  :root body {
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    line-height: 1.5; }
  :root .fa {
    font-size: 30px;
    color: white; }
  :root h1 {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--light); }
  :root h1#dark {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--dark); }
  :root h2 {
    font-size: 30px;
    margin: 0 0 16px;
    color: white;
    font-weight: 300; }
  :root h3 {
    font-size: 30px;
    margin: 0 0 16px;
    color: #050416; }
  :root h4#light {
    font-size: 22px;
    margin: 0 0 16px;
    color: var(--light); }
  :root h4 {
    font-size: 22px;
    margin: 0 0 16px;
    color: #050416; }
  :root h5 {
    font-size: 17px;
    margin: 0 0 16px;
    color: white; }
  :root h6 {
    font-size: 8px;
    margin: 0 0 16px;
    color: white; }
  :root p {
    font-size: 22px;
    margin: 0 0 16px;
    color: black; }
  :root a, :root a:active, :root a:hover, :root a:visited {
    color: #759fcf;
    text-decoration: none; }
  :root a:active, :root a:hover {
    color: #f8f8fc; }

.dark {
  --strip1: #2C3E4C;
  --strip2: #016064;
  --strip3: #48AAAD;
  --strip4: #52b2C0;
  --strip5: #62C5DA;
  --main-bg: #16263b;
  --text-bg: #507dbc;
  --shadow: #a1c6ea;
  --text-sec: #bbd1ea;
  --text-main: #dae3e5; }

.picstrips {
  min-height: 49.7vh;
  overflow: hidden;
  color: var(--dark); }
  .picstrips__picstrip {
    will-change: width, right, z-index, height;
    position: absolute;
    width: 24%;
    min-height: 49.7vh;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
    .picstrips__picstrip:nth-child(1) {
      right: 0; }
    .picstrips__picstrip:nth-child(1) .picstrip__content {
      background: var(--dark);
      transform: translate3d(-100%, 0, 0);
      animation-name: picstrip1;
      animation-delay: 0.1s; }
    @media screen and (max-width: 640px) {
      .picstrips__picstrip {
        min-height: 12vh; }
        .picstrips__picstrip:nth-child(1) {
          top: 0;
          right: 0;
          width: 100%; }
        .picstrips__picstrip .picstrip__title {
          max-height: 12vh;
          width: 30%; } }
  .picstrips .picstrip__content {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none; }
    .picstrips .picstrip__content:hover:before {
      transform: skew(-30deg) scale(3) translate(0, 0);
      opacity: 0.1; }
    .picstrips .picstrip__content:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      opacity: 0.05;
      transform-origin: center center;
      transform: skew(-30deg) scale(1) translate(0, 0);
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  .picstrips .picstrip__inner-text {
    will-change: transform, opacity;
    position: absolute;
    z-index: 5;
    text-align: left;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%) scale(0.05);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  .picstrips__picstrip--picexpanded {
    width: 102%;
    height: 100vh;
    top: 0 !important;
    left: 0 !important;
    z-index: 3;
    cursor: default; }
    @media screen and (max-width: 640px) {
      .picstrips__picstrip--picexpanded {
        min-height: 100vh; } }
    .picstrips__picstrip--picexpanded .picstrip__content:hover:before {
      transform: skew(-30deg) scale(1) translate(0, 0);
      opacity: 0.05; }
    .picstrips__picstrip--picexpanded .picstrip__title {
      opacity: 0; }
    .picstrips__picstrip--picexpanded .picstrip__inner-text {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1); }
      @media screen and (max-width: 640px) {
        .picstrips__picstrip--picexpanded .picstrip__inner-text h5 {
          font-size: 12px; } }
.picstrip__title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 1.5vw;
  color: var(--light);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  @media screen and (max-width: 640px) {
    .picstrip__title {
      font-size: 28px; } }
.picstrip__picclose {
  position: absolute;
  right: 3vw;
  top: 5vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s; }
  .picstrip__picclose--picshow {
    opacity: 1; }

@keyframes picstrip1 {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

:root {
  --dark: #19242c;
  --hover-dark: #333333;
  --light: rgb(192, 188, 188);
  --hover-light: rgb(71, 91, 104);
  --wrong-input: rgb(142, 18, 18);
  --help-text: rgb(141, 137, 137);
  --collapsible-closed: rgba(0,0,0,0);
  --strip1: #2C3E4C;
  --strip2: #016064;
  --strip3: #48AAAD;
  --strip4: #52b2C0;
  --strip5: #62C5DA;
  --top-bottom-container: var(--dark);
  --middle-container: var(--light);
  --copyright: var(--light);
  --main-bg: #dae3e5;
  --text-bg: #bbd1ea;
  --shadow: #a1c6ea;
  --text-sec: #507dbc;
  --text-main: #16263b; }
  :root body {
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    line-height: 1.5; }
  :root .fa {
    font-size: 30px;
    color: white; }
  :root h1 {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--light); }
  :root h1#dark {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--dark); }
  :root h2 {
    font-size: 30px;
    margin: 0 0 16px;
    color: white;
    font-weight: 300; }
  :root h3 {
    font-size: 30px;
    margin: 0 0 16px;
    color: #050416; }
  :root h4#light {
    font-size: 22px;
    margin: 0 0 16px;
    color: var(--light); }
  :root h4 {
    font-size: 22px;
    margin: 0 0 16px;
    color: #050416; }
  :root h5 {
    font-size: 17px;
    margin: 0 0 16px;
    color: white; }
  :root h6 {
    font-size: 8px;
    margin: 0 0 16px;
    color: white; }
  :root p {
    font-size: 22px;
    margin: 0 0 16px;
    color: black; }
  :root a, :root a:active, :root a:hover, :root a:visited {
    color: #759fcf;
    text-decoration: none; }
  :root a:active, :root a:hover {
    color: #f8f8fc; }

.dark {
  --strip1: #2C3E4C;
  --strip2: #016064;
  --strip3: #48AAAD;
  --strip4: #52b2C0;
  --strip5: #62C5DA;
  --main-bg: #16263b;
  --text-bg: #507dbc;
  --shadow: #a1c6ea;
  --text-sec: #bbd1ea;
  --text-main: #dae3e5; }

.strips {
  min-height: 48vh;
  text-align: center;
  overflow: hidden;
  color: var(--strip1); }
  .strips__strip {
    will-change: width, left, z-index, height;
    position: absolute;
    width: 20%;
    min-height: 47.5vh;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
    .strips__strip:nth-child(1) {
      left: 0; }
    .strips__strip:nth-child(3) {
      left: 20vw; }
    .strips__strip:nth-child(5) {
      left: 40vw; }
    .strips__strip:nth-child(7) {
      left: 60vw; }
    .strips__strip:nth-child(9) {
      left: 80vw; }
    .strips__strip:nth-child(1) .strip__content {
      background: var(--strip1);
      transform: translate3d(-100%, 0, 0);
      animation-name: strip1;
      animation-delay: 0.1s; }
    .strips__strip:nth-child(3) .strip__content {
      background: var(--strip2);
      transform: translate3d(0, 100%, 0);
      animation-name: strip2;
      animation-delay: 0.2s; }
    .strips__strip:nth-child(5) .strip__content {
      background: var(--strip3);
      transform: translate3d(0, -100%, 0);
      animation-name: strip3;
      animation-delay: 0.3s; }
    .strips__strip:nth-child(7) .strip__content {
      background: var(--strip4);
      transform: translate3d(0, 100%, 0);
      animation-name: strip4;
      animation-delay: 0.4s; }
    .strips__strip:nth-child(9) .strip__content {
      background: var(--strip5);
      transform: translate3d(100%, 0, 0);
      animation-name: strip5;
      animation-delay: 0.5s; }
    @media screen and (max-width: 640px) {
      .strips__strip {
        min-height: 15vh; }
        .strips__strip:nth-child(1) {
          top: 25vh;
          left: 0;
          width: 100%; }
        .strips__strip:nth-child(3) {
          top: 40vh;
          left: 0;
          width: 100%; }
        .strips__strip:nth-child(5) {
          top: 55vh;
          left: 0;
          width: 100%; }
        .strips__strip:nth-child(7) {
          top: 70vh;
          left: 0;
          width: 100%; }
        .strips__strip:nth-child(9) {
          top: 85vh;
          left: 0;
          width: 100%; } }
  .strips .strip__content {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none; }
    .strips .strip__content:hover:before {
      transform: skew(-30deg) scale(3) translate(0, 0);
      opacity: 0.1; }
    .strips .strip__content:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--light);
      opacity: 0.05;
      transform-origin: center center;
      transform: skew(-30deg) scale(1) translate(0, 0);
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  .strips .strip__inner-text {
    will-change: transform, opacity;
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%) scale(0.01);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
    @media screen and (max-width: 640px) {
      .strips .strip__inner-text h3 {
        font-size: 12px; }
      .strips .strip__inner-text h2 {
        font-size: 12px; }
      .strips .strip__inner-text h4 {
        font-size: 12px; }
      .strips .strip__inner-text h4#light {
        font-size: 12px; }
      .strips .strip__inner-text p {
        font-size: 10px; }
      .strips .strip__inner-text button {
        font-size: 10px; }
      .strips .strip__inner-text i[class^="devicon"] {
        font-size: 1.5rem; }
      .strips .strip__inner-text i[class^="devicon"]:hover {
        color: var(--hover-dark);
        font-size: 1.5rem; } }
  .strips .strip__licontact {
    will-change: opacity;
    z-index: 7;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  .strips__strip--expanded {
    width: 102%;
    height: 100vh;
    top: 0 !important;
    left: 0 !important;
    z-index: 3;
    cursor: default; }
    @media screen and (max-width: 640px) {
      .strips__strip--expanded {
        min-height: 100vh; } }
    .strips__strip--expanded .strip__content:hover:before {
      transform: skew(-30deg) scale(1) translate(0, 0);
      opacity: 0.05; }
    .strips__strip--expanded .strip__title {
      opacity: 0; }
    .strips__strip--expanded .strip__inner-text {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1); }
    .strips__strip--expanded .strip__licontact {
      opacity: 1; }

.strip__title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 1.5vw;
  color: var(--light);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  @media screen and (max-width: 640px) {
    .strip__title {
      font-size: 28px; } }
.strip__close {
  position: absolute;
  right: 3vw;
  top: 3vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s; }
  .strip__close--show {
    opacity: 1; }

@keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes strip3 {
  0% {
    transform: translate3d(0, -100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes strip4 {
  0% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes strip5 {
  0% {
    transform: translate3d(100%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

:root {
  --dark: #19242c;
  --hover-dark: #333333;
  --light: rgb(192, 188, 188);
  --hover-light: rgb(71, 91, 104);
  --wrong-input: rgb(142, 18, 18);
  --help-text: rgb(141, 137, 137);
  --collapsible-closed: rgba(0,0,0,0);
  --strip1: #2C3E4C;
  --strip2: #016064;
  --strip3: #48AAAD;
  --strip4: #52b2C0;
  --strip5: #62C5DA;
  --top-bottom-container: var(--dark);
  --middle-container: var(--light);
  --copyright: var(--light);
  --main-bg: #dae3e5;
  --text-bg: #bbd1ea;
  --shadow: #a1c6ea;
  --text-sec: #507dbc;
  --text-main: #16263b; }
  :root body {
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    line-height: 1.5; }
  :root .fa {
    font-size: 30px;
    color: white; }
  :root h1 {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--light); }
  :root h1#dark {
    font-family: bradley hand, cursive;
    font-size: 65px;
    font-weight: 300;
    color: var(--dark); }
  :root h2 {
    font-size: 30px;
    margin: 0 0 16px;
    color: white;
    font-weight: 300; }
  :root h3 {
    font-size: 30px;
    margin: 0 0 16px;
    color: #050416; }
  :root h4#light {
    font-size: 22px;
    margin: 0 0 16px;
    color: var(--light); }
  :root h4 {
    font-size: 22px;
    margin: 0 0 16px;
    color: #050416; }
  :root h5 {
    font-size: 17px;
    margin: 0 0 16px;
    color: white; }
  :root h6 {
    font-size: 8px;
    margin: 0 0 16px;
    color: white; }
  :root p {
    font-size: 22px;
    margin: 0 0 16px;
    color: black; }
  :root a, :root a:active, :root a:hover, :root a:visited {
    color: #759fcf;
    text-decoration: none; }
  :root a:active, :root a:hover {
    color: #f8f8fc; }

.dark {
  --strip1: #2C3E4C;
  --strip2: #016064;
  --strip3: #48AAAD;
  --strip4: #52b2C0;
  --strip5: #62C5DA;
  --main-bg: #16263b;
  --text-bg: #507dbc;
  --shadow: #a1c6ea;
  --text-sec: #bbd1ea;
  --text-main: #dae3e5; }

body {
  background-color: var(--strip5); }

#contact {
  text-align: center;
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 10;
  top: 25%;
  left: 25%;
  font-size: 21; }

#contact_close {
  position: absolute;
  right: 3vw;
  top: 3vw;
  z-index: 2; }

form {
  text-align: left; }

p#form-text {
  font-size: 21; }

#alert-error {
  color: var(--wrong-input); }

#helptext {
  color: var(--help-text); }

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--dark);
  border: none;
  color: var(--light);
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

.button:hover span {
  padding-right: 25px; }

.button:hover span:after {
  opacity: 1;
  right: 0; }

html, body {
  height: 100%; }

p#copyright {
  position: absolute;
  width: 100%;
  color: var(--light);
  font-size: 15px;
  text-align: center; }

p#copyright-inner {
  position: absolute;
  width: 100%;
  color: var(--dark);
  font-size: 15px;
  text-align: center; }

/* Demo purposes */
div[class="col-md-4"] {
  width: 50%; }

div[class="lefty"] {
  float: left;
  padding: 5px; }

div[class="centery"] {
  text-align: center; }

i[class="fa fa-clock-o fa-5"] {
  display: inline-block;
  color: var(--dark);
  font-size: 10rem;
  text-align: center; }

i[class^="devicon"] {
  display: inline-block;
  color: var(--light);
  font-size: 2rem;
  margin: 0vh 3vh 2vh auto;
  text-align: center; }
  @media screen and (max-width: 640px) {
    i[class^="devicon"] {
      font-size: 0.7rem; } }
i[class^="devicon"]:hover {
  color: var(--hover-dark);
  font-size: 2rem; }
  @media screen and (max-width: 640px) {
    i[class^="devicon"]:hover {
      font-size: 0.7rem; } }
i[class^="devicon"] span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: Raleway, sans-serif; }
  @media screen and (max-width: 640px) {
    i[class^="devicon"] span {
      font-size: 0.4rem; } }
@media (max-width: 500px) {
  i[class^="devicon"] {
    font-size: 4.5rem; }
  i[class^="devicon"] > span {
    font-size: 0.7rem; }
  i[class^="devicon"]:hover {
    color: var(--hover-dark);
    font-size: 3.5rem; }
  /*div[class="lefty"] {
    width: 10%;
  }*/ }

/* Style the button that is used to open and close the collapsible content */
button[class^="collapsible"] {
  background-color: var(--collapsible-closed);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 22px;
  color: var(--light); }
  @media screen and (max-width: 640px) {
    button[class^="collapsible"] {
      padding: 12px;
      font-size: 12px; } }
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, button[class^="collapsible"]:hover {
  background-color: var(--hover-light); }

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--hover-light); }

img {
  height: 250; }

/*# sourceMappingURL=style.css.map */