html, body {
  height: 100%; }

p.copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  line-height: 15px;
  font-size: 0.7em;
  text-align: center; }

#container {
  height: 100%; }

#top_div {
  height: 50%;
  width: 102%;
  background-color: black;
  margin: auto;
  text-align: center; }

#middle_div {
  height: 48%;
  width: 100%;
  background-color: white;
  margin: auto;
  text-align: center; }

#bottom_div {
  position: bottom;
  height: 2%;
  width: 102%;
  background-color: black;
  margin: auto;
  text-align: center; }

#header-right {
  height: 52%;
  width: 26%;
  margin-right: 0px;
  margin-bottom: 20px; }

.banner {
  background: black;
  margin: 0rem auto 1rem;
  padding: 3.6rem 2rem;
  position: relative;
  text-align: center;
  width: 75.3%;
  float: left;
  margin-right: 5px;
  color: white; }

* {
  box-sizing: border-box; }

.strips {
  min-height: 48vh;
  text-align: center;
  overflow: hidden;
  color: #2C3E4C; }
  .strips__strip {
    will-change: width, left, z-index, height;
    position: absolute;
    width: 20%;
    min-height: 47.5vh;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
    .strips__strip:nth-child(1) {
      left: 0; }
    .strips__strip:nth-child(3) {
      left: 20vw; }
    .strips__strip:nth-child(5) {
      left: 40vw; }
    .strips__strip:nth-child(7) {
      left: 60vw; }
    .strips__strip:nth-child(9) {
      left: 80vw; }
    .strips__strip:nth-child(1) .strip__content {
      background: #2C3E4C;
      transform: translate3d(-100%, 0, 0);
      animation-name: strip1;
      animation-delay: 0.1s; }
    .strips__strip:nth-child(3) .strip__content {
      background: #016064;
      transform: translate3d(0, 100%, 0);
      animation-name: strip2;
      animation-delay: 0.2s; }
    .strips__strip:nth-child(5) .strip__content {
      background: #48AAAD;
      transform: translate3d(0, -100%, 0);
      animation-name: strip3;
      animation-delay: 0.3s; }
    .strips__strip:nth-child(7) .strip__content {
      background: #52b2C0;
      transform: translate3d(0, 100%, 0);
      animation-name: strip4;
      animation-delay: 0.4s; }
    .strips__strip:nth-child(9) .strip__content {
      background: #62C5DA;
      transform: translate3d(100%, 0, 0);
      animation-name: strip5;
      animation-delay: 0.5s; }
    @media screen and (max-width: 760px) {
      .strips__strip {
        min-height: 20vh; }
        .strips__strip:nth-child(1) {
          top: 0;
          left: 0;
          width: 100%; }
        .strips__strip:nth-child(3) {
          top: 20vh;
          left: 0;
          width: 100%; }
        .strips__strip:nth-child(5) {
          top: 40vh;
          left: 0;
          width: 100%; }
        .strips__strip:nth-child(7) {
          top: 60vh;
          left: 0;
          width: 100%; }
        .strips__strip:nth-child(9) {
          top: 80vh;
          left: 0;
          width: 100%; } }
  .strips .strip__content {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none; }
    .strips .strip__content:hover:before {
      transform: skew(-30deg) scale(3) translate(0, 0);
      opacity: 0.1; }
    .strips .strip__content:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      opacity: 0.05;
      transform-origin: center center;
      transform: skew(-30deg) scaleY(1) translate(0, 0);
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  .strips .strip__inner-text {
    will-change: transform, opacity;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  .strips__strip--expanded {
    width: 102%;
    height: 100vh;
    top: 0 !important;
    left: 0 !important;
    z-index: 3;
    cursor: default; }
    @media screen and (max-width: 760px) {
      .strips__strip--expanded {
        min-height: 100vh; } }
    .strips__strip--expanded .strip__content:hover:before {
      transform: skew(-30deg) scale(1) translate(0, 0);
      opacity: 0.05; }
    .strips__strip--expanded .strip__title {
      opacity: 0; }
    .strips__strip--expanded .strip__inner-text {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1); }

.strip__title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 1.5vw;
  color: white;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  @media screen and (max-width: 760px) {
    .strip__title {
      font-size: 28px; } }
.strip__close {
  position: absolute;
  right: 3vw;
  top: 3vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s; }
  .strip__close--show {
    opacity: 1; }

@keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes strip3 {
  0% {
    transform: translate3d(0, -100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes strip4 {
  0% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes strip5 {
  0% {
    transform: translate3d(100%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

/* Demo purposes */
div[class="col-md-4"] {
  width: 50%; }

i[class="fa fa-clock-o fa-5"] {
  display: inline-block;
  color: #050416;
  font-size: 10rem;
  text-align: center; }

i[class^="devicon"] {
  display: inline-block;
  color: white;
  font-size: 5rem;
  margin: 2vh 10vh 2vh auto;
  text-align: center; }

i[class^="devicon"]:hover {
  color: #333333;
  font-size: 4rem; }

i[class^="devicon"] span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: Raleway, sans-serif; }

@media (max-width: 768px) {
  i[class^="devicon"] {
    font-size: 4.5rem; }
  i[class^="devicon"] > span {
    font-size: 0.7rem; }
  i[class^="devicon"]:hover {
    color: #333333;
    font-size: 3.5rem; } }

body {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  line-height: 1.5; }

h1, h2 {
  font-weight: 300; }

.fa {
  font-size: 30px;
  color: white; }

h1 {
  font-family: bradley hand, cursive;
  font-size: 65px; }

h2 {
  font-size: 30px;
  margin: 0 0 16px;
  color: white; }

h3 {
  font-size: 30px;
  margin: 0 0 16px;
  color: #050416; }

h4 {
  font-size: 22px;
  margin: 0 0 16px;
  color: #050416; }

h5 {
  font-size: 17px;
  margin: 0 0 16px;
  color: white; }

h6 {
  font-size: 8px;
  margin: 0 0 16px;
  color: white; }

p {
  margin: 0 0 16px;
  color: black; }

a, a:active, a:hover, a:visited {
  color: #759fcf;
  text-decoration: none; }

a:active, a:hover {
  color: #f8f8fc; }

.picstrips {
  min-height: 48vh;
  overflow: hidden;
  color: black; }
  .picstrips__picstrip {
    will-change: width, right, z-index, height;
    position: absolute;
    width: 24%;
    min-height: 48vh;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
    .picstrips__picstrip:nth-child(1) {
      right: 0; }
    .picstrips__picstrip:nth-child(1) .picstrip__content {
      background: black;
      transform: translate3d(-100%, 0, 0);
      animation-name: picstrip1;
      animation-delay: 0.1s; }
    @media screen and (max-width: 760px) {
      .picstrips__picstrip {
        min-height: 24vh; }
        .picstrips__picstrip:nth-child(1) {
          top: 0;
          right: 0;
          width: 100%; } }
  .picstrips .picstrip__content {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none; }
    .picstrips .picstrip__content:hover:before {
      transform: skew(-30deg) scale(3) translate(0, 0);
      opacity: 0.1; }
    .picstrips .picstrip__content:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      opacity: 0.05;
      transform-origin: center center;
      transform: skew(-30deg) scaleY(1) translate(0, 0);
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  .picstrips .picstrip__inner-text {
    will-change: transform, opacity;
    position: absolute;
    z-index: 5;
    text-align: left;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  .picstrips__picstrip--picexpanded {
    width: 102%;
    height: 100vh;
    top: 0 !important;
    left: 0 !important;
    z-index: 3;
    cursor: default; }
    @media screen and (max-width: 760px) {
      .picstrips__picstrip--picexpanded {
        min-height: 100vh; } }
    .picstrips__picstrip--picexpanded .picstrip__content:hover:before {
      transform: skew(-30deg) scale(1) translate(0, 0);
      opacity: 0.05; }
    .picstrips__picstrip--picexpanded .picstrip__title {
      opacity: 0; }
    .picstrips__picstrip--picexpanded .picstrip__inner-text {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1); }

.picstrip__title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 1.5vw;
  color: white;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  @media screen and (max-width: 760px) {
    .picstrip__title {
      font-size: 28px; } }
.picstrip__picclose {
  position: absolute;
  right: 3vw;
  top: 5vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s; }
  .picstrip__picclose--picshow {
    opacity: 1; }

@keyframes picstrip1 {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

/* Style the button that is used to open and close the collapsible content */
button[class^="collapsible"] {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  color: white; }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, button[class^="collapsible"]:hover {
  background-color: #475b68; }

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #475b68; }

/*# sourceMappingURL=style.css.map */